--
-- PostgreSQL database dump
--

\restrict cHv3sRB61P65htFyOK1EVuNnAuYKqYWWb6DAJQWiN5CSMoY3AdAdO2ppRV2aHNd

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO dbops;

--
-- Name: billing_settings; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.billing_settings (
    id integer NOT NULL,
    plan_key character varying(80) DEFAULT 'starter'::character varying NOT NULL,
    billing_status character varying(40) DEFAULT 'trialing'::character varying NOT NULL,
    monthly_price_cents integer DEFAULT 14900 NOT NULL,
    max_users integer DEFAULT 10 NOT NULL,
    max_schedules integer DEFAULT 10 NOT NULL,
    stripe_customer_id character varying(120),
    stripe_subscription_id character varying(120),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.billing_settings OWNER TO dbops;

--
-- Name: billing_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.billing_settings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.billing_settings_id_seq OWNER TO dbops;

--
-- Name: billing_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.billing_settings_id_seq OWNED BY public.billing_settings.id;


--
-- Name: incident_history; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.incident_history (
    id integer NOT NULL,
    incident_id integer NOT NULL,
    actor_user_id integer,
    action character varying(80) NOT NULL,
    details_json text DEFAULT '{}'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.incident_history OWNER TO dbops;

--
-- Name: incident_history_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.incident_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incident_history_id_seq OWNER TO dbops;

--
-- Name: incident_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.incident_history_id_seq OWNED BY public.incident_history.id;


--
-- Name: incidents; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.incidents (
    id integer NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    status character varying(50) NOT NULL,
    severity character varying(50) NOT NULL,
    owner character varying(120) NOT NULL,
    created_at timestamp without time zone NOT NULL,
    due_at timestamp without time zone
);


ALTER TABLE public.incidents OWNER TO dbops;

--
-- Name: incidents_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.incidents_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.incidents_id_seq OWNER TO dbops;

--
-- Name: incidents_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.incidents_id_seq OWNED BY public.incidents.id;


--
-- Name: onboarding_events; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.onboarding_events (
    id integer NOT NULL,
    event_key character varying(80) NOT NULL,
    actor_user_id integer,
    details_json text DEFAULT '{}'::text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.onboarding_events OWNER TO dbops;

--
-- Name: onboarding_events_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.onboarding_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.onboarding_events_id_seq OWNER TO dbops;

--
-- Name: onboarding_events_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.onboarding_events_id_seq OWNED BY public.onboarding_events.id;


--
-- Name: report_execution_logs; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.report_execution_logs (
    id integer NOT NULL,
    user_id integer NOT NULL,
    report_key character varying(120) NOT NULL,
    params_json text NOT NULL,
    row_count integer,
    duration_ms integer,
    success boolean NOT NULL,
    error_message text,
    created_at timestamp without time zone NOT NULL,
    scheduled_report_id integer
);


ALTER TABLE public.report_execution_logs OWNER TO dbops;

--
-- Name: report_execution_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.report_execution_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.report_execution_logs_id_seq OWNER TO dbops;

--
-- Name: report_execution_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.report_execution_logs_id_seq OWNED BY public.report_execution_logs.id;


--
-- Name: report_schedules; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.report_schedules (
    id integer NOT NULL,
    created_by_user_id integer NOT NULL,
    report_key character varying(120) NOT NULL,
    params_json text DEFAULT '{}'::text NOT NULL,
    cadence character varying(20) NOT NULL,
    weekday_utc integer,
    run_hour_utc integer NOT NULL,
    run_minute_utc integer NOT NULL,
    is_enabled boolean DEFAULT true NOT NULL,
    next_run_at timestamp without time zone NOT NULL,
    last_run_at timestamp without time zone,
    last_success_at timestamp without time zone,
    last_error text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    delivery_kind character varying(20) DEFAULT 'none'::character varying NOT NULL,
    delivery_target character varying(320),
    notify_on_success boolean DEFAULT false NOT NULL,
    notify_on_failure boolean DEFAULT true NOT NULL,
    CONSTRAINT ck_report_schedules_cadence CHECK (((cadence)::text = ANY ((ARRAY['daily'::character varying, 'weekly'::character varying])::text[]))),
    CONSTRAINT ck_report_schedules_delivery_kind CHECK (((delivery_kind)::text = ANY ((ARRAY['none'::character varying, 'email'::character varying, 'webhook'::character varying])::text[]))),
    CONSTRAINT ck_report_schedules_hour CHECK (((run_hour_utc >= 0) AND (run_hour_utc <= 23))),
    CONSTRAINT ck_report_schedules_minute CHECK (((run_minute_utc >= 0) AND (run_minute_utc <= 59))),
    CONSTRAINT ck_report_schedules_weekday CHECK (((weekday_utc IS NULL) OR ((weekday_utc >= 0) AND (weekday_utc <= 6))))
);


ALTER TABLE public.report_schedules OWNER TO dbops;

--
-- Name: report_schedules_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.report_schedules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.report_schedules_id_seq OWNER TO dbops;

--
-- Name: report_schedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.report_schedules_id_seq OWNED BY public.report_schedules.id;


--
-- Name: user_admin_audit_logs; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.user_admin_audit_logs (
    id integer NOT NULL,
    actor_user_id integer,
    target_user_id integer,
    target_email character varying(255) NOT NULL,
    action character varying(80) NOT NULL,
    details_json text DEFAULT '{}'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_admin_audit_logs OWNER TO dbops;

--
-- Name: user_admin_audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.user_admin_audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_admin_audit_logs_id_seq OWNER TO dbops;

--
-- Name: user_admin_audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.user_admin_audit_logs_id_seq OWNED BY public.user_admin_audit_logs.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: dbops
--

CREATE TABLE public.users (
    id integer NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean NOT NULL
);


ALTER TABLE public.users OWNER TO dbops;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: dbops
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO dbops;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: dbops
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: billing_settings id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.billing_settings ALTER COLUMN id SET DEFAULT nextval('public.billing_settings_id_seq'::regclass);


--
-- Name: incident_history id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incident_history ALTER COLUMN id SET DEFAULT nextval('public.incident_history_id_seq'::regclass);


--
-- Name: incidents id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incidents ALTER COLUMN id SET DEFAULT nextval('public.incidents_id_seq'::regclass);


--
-- Name: onboarding_events id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.onboarding_events ALTER COLUMN id SET DEFAULT nextval('public.onboarding_events_id_seq'::regclass);


--
-- Name: report_execution_logs id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_execution_logs ALTER COLUMN id SET DEFAULT nextval('public.report_execution_logs_id_seq'::regclass);


--
-- Name: report_schedules id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_schedules ALTER COLUMN id SET DEFAULT nextval('public.report_schedules_id_seq'::regclass);


--
-- Name: user_admin_audit_logs id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.user_admin_audit_logs ALTER COLUMN id SET DEFAULT nextval('public.user_admin_audit_logs_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: dbops
--

COPY public.alembic_version (version_num) FROM stdin;
009_incident_due_at
\.


--
-- Data for Name: billing_settings; Type: TABLE DATA; Schema: public; Owner: dbops
--

COPY public.billing_settings (id, plan_key, billing_status, monthly_price_cents, max_users, max_schedules, stripe_customer_id, stripe_subscription_id, created_at, updated_at) FROM stdin;
1	starter	trialing	14900	10	10	\N	\N	2026-05-12 01:07:25.87138	2026-05-12 01:07:25.87138
\.


--
-- Data for Name: incident_history; Type: TABLE DATA; Schema: public; Owner: dbops
--



--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: dbops
--



--
-- Data for Name: onboarding_events; Type: TABLE DATA; Schema: public; Owner: dbops
--

COPY public.onboarding_events (id, event_key, actor_user_id, details_json, created_at) FROM stdin;
1	first_report_run	1	{"report_key": "incidents_recent"}	2026-05-15 19:47:39.133818
2	first_user_created	1	{"created_email": "smoke.20260515154925@example.com"}	2026-05-15 19:49:25.427738
3	first_incident_created	1	{"incident_id": 18}	2026-05-15 19:49:26.029823
4	first_schedule_created	1	{"report_key": "incidents_recent", "schedule_id": 1}	2026-05-15 19:49:26.281324
\.


--
-- Data for Name: report_execution_logs; Type: TABLE DATA; Schema: public; Owner: dbops
--



--
-- Data for Name: report_schedules; Type: TABLE DATA; Schema: public; Owner: dbops
--

COPY public.report_schedules (id, created_by_user_id, report_key, params_json, cadence, weekday_utc, run_hour_utc, run_minute_utc, is_enabled, next_run_at, last_run_at, last_success_at, last_error, created_at, delivery_kind, delivery_target, notify_on_success, notify_on_failure) FROM stdin;
1	1	incidents_recent	{"max_rows": 5}	daily	\N	9	0	f	2026-05-16 09:00:00	\N	\N	\N	2026-05-15 19:49:26.278613	none	\N	f	t
\.


--
-- Data for Name: user_admin_audit_logs; Type: TABLE DATA; Schema: public; Owner: dbops
--

COPY public.user_admin_audit_logs (id, actor_user_id, target_user_id, target_email, action, details_json, created_at) FROM stdin;
1	1	\N	smoke.20260515154925@example.com	create_user	{"role": "Viewer"}	2026-05-15 19:49:25.428803
2	1	\N	smoke.20260515154925@example.com	reset_password	{"password_reset": true}	2026-05-15 19:49:25.819367
3	1	\N	smoke.20260515154925@example.com	delete_user	{"deleted": true}	2026-05-15 19:49:26.358489
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: dbops
--



--
-- Name: billing_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.billing_settings_id_seq', 1, false);


--
-- Name: incident_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.incident_history_id_seq', 3, true);


--
-- Name: incidents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.incidents_id_seq', 18, true);


--
-- Name: onboarding_events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.onboarding_events_id_seq', 4, true);


--
-- Name: report_execution_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.report_execution_logs_id_seq', 57, true);


--
-- Name: report_schedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.report_schedules_id_seq', 1, true);


--
-- Name: user_admin_audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.user_admin_audit_logs_id_seq', 3, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: dbops
--

SELECT pg_catalog.setval('public.users_id_seq', 10, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: billing_settings billing_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.billing_settings
    ADD CONSTRAINT billing_settings_pkey PRIMARY KEY (id);


--
-- Name: incident_history incident_history_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: onboarding_events onboarding_events_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.onboarding_events
    ADD CONSTRAINT onboarding_events_pkey PRIMARY KEY (id);


--
-- Name: report_execution_logs report_execution_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_execution_logs
    ADD CONSTRAINT report_execution_logs_pkey PRIMARY KEY (id);


--
-- Name: report_schedules report_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_schedules
    ADD CONSTRAINT report_schedules_pkey PRIMARY KEY (id);


--
-- Name: user_admin_audit_logs user_admin_audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.user_admin_audit_logs
    ADD CONSTRAINT user_admin_audit_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_incident_history_action; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incident_history_action ON public.incident_history USING btree (action);


--
-- Name: ix_incident_history_actor_user_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incident_history_actor_user_id ON public.incident_history USING btree (actor_user_id);


--
-- Name: ix_incident_history_created_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incident_history_created_at ON public.incident_history USING btree (created_at);


--
-- Name: ix_incident_history_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incident_history_id ON public.incident_history USING btree (id);


--
-- Name: ix_incident_history_incident_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incident_history_incident_id ON public.incident_history USING btree (incident_id);


--
-- Name: ix_incidents_due_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incidents_due_at ON public.incidents USING btree (due_at);


--
-- Name: ix_incidents_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_incidents_id ON public.incidents USING btree (id);


--
-- Name: ix_onboarding_events_actor_user_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_onboarding_events_actor_user_id ON public.onboarding_events USING btree (actor_user_id);


--
-- Name: ix_onboarding_events_created_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_onboarding_events_created_at ON public.onboarding_events USING btree (created_at);


--
-- Name: ix_onboarding_events_event_key; Type: INDEX; Schema: public; Owner: dbops
--

CREATE UNIQUE INDEX ix_onboarding_events_event_key ON public.onboarding_events USING btree (event_key);


--
-- Name: ix_report_execution_logs_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_execution_logs_id ON public.report_execution_logs USING btree (id);


--
-- Name: ix_report_execution_logs_scheduled_report_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_execution_logs_scheduled_report_id ON public.report_execution_logs USING btree (scheduled_report_id);


--
-- Name: ix_report_schedules_created_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_schedules_created_at ON public.report_schedules USING btree (created_at);


--
-- Name: ix_report_schedules_created_by_user_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_schedules_created_by_user_id ON public.report_schedules USING btree (created_by_user_id);


--
-- Name: ix_report_schedules_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_schedules_id ON public.report_schedules USING btree (id);


--
-- Name: ix_report_schedules_next_run_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_report_schedules_next_run_at ON public.report_schedules USING btree (next_run_at);


--
-- Name: ix_user_admin_audit_logs_action; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_user_admin_audit_logs_action ON public.user_admin_audit_logs USING btree (action);


--
-- Name: ix_user_admin_audit_logs_actor_user_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_user_admin_audit_logs_actor_user_id ON public.user_admin_audit_logs USING btree (actor_user_id);


--
-- Name: ix_user_admin_audit_logs_created_at; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_user_admin_audit_logs_created_at ON public.user_admin_audit_logs USING btree (created_at);


--
-- Name: ix_user_admin_audit_logs_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_user_admin_audit_logs_id ON public.user_admin_audit_logs USING btree (id);


--
-- Name: ix_user_admin_audit_logs_target_user_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_user_admin_audit_logs_target_user_id ON public.user_admin_audit_logs USING btree (target_user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: dbops
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: dbops
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: report_execution_logs fk_report_execution_logs_scheduled_report_id_report_schedules; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_execution_logs
    ADD CONSTRAINT fk_report_execution_logs_scheduled_report_id_report_schedules FOREIGN KEY (scheduled_report_id) REFERENCES public.report_schedules(id) ON DELETE SET NULL;


--
-- Name: incident_history incident_history_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: incident_history incident_history_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.incident_history
    ADD CONSTRAINT incident_history_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: onboarding_events onboarding_events_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.onboarding_events
    ADD CONSTRAINT onboarding_events_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: report_execution_logs report_execution_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_execution_logs
    ADD CONSTRAINT report_execution_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: report_schedules report_schedules_created_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.report_schedules
    ADD CONSTRAINT report_schedules_created_by_user_id_fkey FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: user_admin_audit_logs user_admin_audit_logs_actor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.user_admin_audit_logs
    ADD CONSTRAINT user_admin_audit_logs_actor_user_id_fkey FOREIGN KEY (actor_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: user_admin_audit_logs user_admin_audit_logs_target_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: dbops
--

ALTER TABLE ONLY public.user_admin_audit_logs
    ADD CONSTRAINT user_admin_audit_logs_target_user_id_fkey FOREIGN KEY (target_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict cHv3sRB61P65htFyOK1EVuNnAuYKqYWWb6DAJQWiN5CSMoY3AdAdO2ppRV2aHNd

